#home {
  padding: 0 20px;
  background-color: rgb(252, 252, 252);	
}

#home .swiper {
  display: flex;
  flex-wrap: wrap;
}

#home .pokemon__image {
  height: 140px;
  justify-content: flex-end;
  align-items: flex-end;
}

#home .pokemon__description {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
}

#home .pokemon__notification {
  transition: max-height .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 10px 0 30px;
}
#home .pokemon__notification.show {
  max-height: 100%;
}
#home .pokemon__notification.hide {
  max-height: 0;
}